<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="deck$ | async; let deck">
      <ion-title>{{deck.name}}</ion-title>
    </ng-container>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="document"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/decks">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="cards$ | async; let cards">
    <div class="parent" *ngIf="cards?.length === 0; else startStudying">
      <div>Start Learning</div>
      <div>
        <ion-button routerLink="create-card" class="create-card">Create Flash Card</ion-button>
      </div>
    </div>
  </ng-container>
  <ng-template #startStudying>
    <div class="parent">
      <ion-button expand="block" (click)="beginReview()">Start Studying</ion-button>
    </div>
  </ng-template>
</ion-content>