<ion-header>
  <ion-toolbar>
    <ion-title>Create an account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <form #signUpForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input required [(ngModel)]="email" type="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input required [(ngModel)]="password" type="password" name="password"></ion-input>
    </ion-item>
    <span *ngIf="error" style="display: inline-block;">{{error}}</span>
    <ion-button [disabled]="!signUpForm.form.valid" type="submit" expand="block">Register</ion-button>
  </form>
</ion-content>
