<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Decks</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/create-deck" [queryParams]="{ type: 'parent'}">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar> 
    <ion-searchbar animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="decks$ | async; let decks">
    <decks-list [decks]="decks"></decks-list>
  </ng-container>
</ion-content>